USE master;
GO

CREATE DATABASE PharmacyDB
ON PRIMARY
(
    NAME = N'PharmacyDB',
    FILENAME = N'D:\PharmacyDB\PharmacyDB.mdf',
    SIZE = 8192KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 65536KB
)
LOG ON
(
    NAME = N'PharmacyDB_log',
    FILENAME = N'D:\PharmacyDB\PharmacyDB_log.ldf',
    SIZE = 8192KB,
    MAXSIZE = 2048GB,
    FILEGROWTH = 65536KB
);
GO

USE PharmacyDB;
GO

CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL UNIQUE,
    Password VARCHAR(50) NOT NULL,
    Role VARCHAR(20)
);
GO

CREATE TABLE Medicines (
    MedicineID INT IDENTITY(1,1) PRIMARY KEY,
    MedicineName VARCHAR(100) NOT NULL,
    Category VARCHAR(50),
    Company VARCHAR(100),
    Price DECIMAL(10,2),
    Quantity INT,
    ExpiryDate DATE NOT NULL
);
GO

CREATE TABLE Suppliers (
    SupplierID INT IDENTITY(1,1) PRIMARY KEY,
    SupplierName VARCHAR(100) NOT NULL,
    Email VARCHAR(100),
    Address TEXT,
    ContactNo VARCHAR(15)
);
GO

INSERT INTO Users (Username, Password, Role) VALUES
('Laraib','laraib786','Admin'),
('Summiya','summiya123','Admin'),
('Ali','ali_99','Staff');
GO

INSERT INTO Medicines (MedicineName, Category, Company, Price, Quantity, ExpiryDate) VALUES
('Panadol 500mg','Tablet','GSK',50.00,198,'2027-12-31'),
('Arinac Forte','Tablet','Abbott',120.00,50,'2026-06-15'),
('Augmentin 625mg','Tablet','GSK',450.00,29,'2026-08-20');
GO

USE PharmacyDB;
GO

DECLARE @Price DECIMAL(10,2) = 450;
DECLARE @Quantity INT = 30;

DECLARE @TotalBill DECIMAL(10,2);
DECLARE @Discount DECIMAL(10,2);
DECLARE @FinalBill DECIMAL(10,2);

-- Step 1: Total Bill
SET @TotalBill = @Price * @Quantity;

-- Step 2: Discount Conditions
IF @TotalBill > 5000 AND @TotalBill < 10000
BEGIN
    SET @Discount = @TotalBill * 0.05;   
END

ELSE IF @TotalBill >= 10000 AND @TotalBill < 15000
BEGIN
    SET @Discount = @TotalBill * 0.10;  
END

ELSE IF @TotalBill >= 15000
BEGIN
    SET @Discount = @TotalBill * 0.15;   
END

ELSE
BEGIN
    SET @Discount = 0;
END

SET @FinalBill = @TotalBill - @Discount;

PRINT 'Total Bill = ' + CAST(@TotalBill AS VARCHAR);
PRINT 'Discount = ' + CAST(@Discount AS VARCHAR);
PRINT 'Final Bill = ' + CAST(@FinalBill AS VARCHAR);

